In [5]:
from user_data.litmus import external_informative_data as eid
import pandas as pd

import os
from pathlib import Path
os.chdir("/Users/mregan/Dev/litmus/")
print(Path.cwd())

%load_ext autoreload
%autoreload 2

/Users/mregan/Dev/litmus
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
tickers = ['^GSPC', 'DX-Y.NYB', '^VIX']

eid.fetch_yfinance_data(tickers)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
ls

Cointegration Testing.ipynb
Get YFinance Data.ipynb
Inspect Glassnode Data.ipynb
Litmus - Analyze Strategy Signals.ipynb
Litmus - Litmus Backtest Trade Data Inspection.ipynb
Litmus - Meta Train.ipynb
Litmus - Vulcan Meta Train Old GetData Method.ipynb
Pkl Backtest Load.ipynb
TA Indicator Inspection.ipynb

In [8]:
eid.load_local_data(file_name='yfinance^GSPC.csv', folder='yfinance')

,date,open,high,low,close,volume
0,2017-06-01 00:00:00+00:00,2415.649902,2430.060059,2413.540039,2430.060059,3857140000
1,2017-06-02 00:00:00+00:00,2431.280029,2440.229980,2427.709961,2439.070068,3461680000
2,2017-06-05 00:00:00+00:00,2437.830078,2439.550049,2434.320068,2436.100098,2912600000
3,2017-06-06 00:00:00+00:00,2431.919922,2436.209961,2428.120117,2429.330078,3357840000
4,2017-06-07 00:00:00+00:00,2432.030029,2435.280029,2424.750000,2433.139893,3572300000
...,...,...,...,...,...,...
1254,2022-05-24 00:00:00+00:00,3942.939941,3955.679932,3875.129883,3941.479980,3901640000
1255,2022-05-25 00:00:00+00:00,3929.590088,3999.330078,3925.030029,3978.729980,4322190000
1256,2022-05-26 00:00:00+00:00,3984.600098,4075.139893,3984.600098,4057.840088,3961940000
1257,2022-05-27 00:00:00+00:00,4077.429932,4158.490234,4077.429932,4158.240234,3560560000
1258,2022-05-31 00:00:00+00:00,4151.089844,4168.339844,4104.879883,4132.149902,5192220000