In [1]:
import pandas as pd
from pangres import upsert, DocsExampleTable
from sqlalchemy import create_engine, text, VARCHAR

from user_data.litmus.glassnode import download_data

import os
from pathlib import Path
os.chdir("/Users/mregan/Dev/litmus/")
print(Path.cwd())

%load_ext autoreload
%autoreload 2

/Users/mregan/Dev/litmus

In [2]:
table_name = 'metric_test'
connection_string = "sqlite:///litmus_external_signals.sqlite"

engine = create_engine(connection_string)

In [3]:
gn = download_data.GlassnodeData(api_key='22HCck9cUjuvUTrEvfc50rgcL7v', directory='user_data/data/glassnode/')

In [6]:
sql_query = "SELECT * FROM sqlite_master WHERE type = 'table';"
df = pd.read_sql_query(sql_query, engine)
df

,type,name,tbl_name,rootpage,sql
0,table,gn_24h__v1_metrics_addresses_sending_to_exchan...,gn_24h__v1_metrics_addresses_sending_to_exchan...,2,CREATE TABLE gn_24h__v1_metrics_addresses_send...
1,table,gn_24h__v1_metrics_addresses_receiving_from_ex...,gn_24h__v1_metrics_addresses_receiving_from_ex...,7115,CREATE TABLE gn_24h__v1_metrics_addresses_rece...
2,table,gn_24h__v1_metrics_addresses_count,gn_24h__v1_metrics_addresses_count,14230,CREATE TABLE gn_24h__v1_metrics_addresses_coun...
3,table,gn_24h__v1_metrics_addresses_sending_count,gn_24h__v1_metrics_addresses_sending_count,18275,CREATE TABLE gn_24h__v1_metrics_addresses_send...
4,table,gn_24h__v1_metrics_addresses_receiving_count,gn_24h__v1_metrics_addresses_receiving_count,22251,CREATE TABLE gn_24h__v1_metrics_addresses_rece...
...,...,...,...,...,...
609,table,gn_10m__v1_metrics_fees_gas_limit_tx_median,gn_10m__v1_metrics_fees_gas_limit_tx_median,15907846,CREATE TABLE gn_10m__v1_metrics_fees_gas_limit...
610,table,gn_10m__v1_metrics_fees_gas_price_mean,gn_10m__v1_metrics_fees_gas_price_mean,15923070,CREATE TABLE gn_10m__v1_metrics_fees_gas_price...
611,table,gn_10m__v1_metrics_fees_gas_price_median,gn_10m__v1_metrics_fees_gas_price_median,15939128,CREATE TABLE gn_10m__v1_metrics_fees_gas_price...
612,table,gn_10m__v1_metrics_supply_minted,gn_10m__v1_metrics_supply_minted,20025718,CREATE TABLE gn_10m__v1_metrics_supply_minted ...
613,table,gn_10m__v1_metrics_supply_burned,gn_10m__v1_metrics_supply_burned,20041631,CREATE TABLE gn_10m__v1_metrics_supply_burned ...

In [24]:
path = 'gn_24h__v1_metrics_addresses_count'
sql_query = f"SELECT token, COUNT(*) FROM {path} GROUP BY 1 ORDER BY 2 DESC"
gn.query_db(sql_query)

      token  COUNT(*)
0       BTC      2722
1       LTC      2721
2       ETH      2511
3       GNO      1883
4       RLC      1883
..      ...       ...
97     NFTX       577
98   BADGER       563
99      MIR       558
100     LDO       544
101   ARMOR       509

[102 rows x 2 columns]

In [ ]:
gn.query_db()