In [1]:
import pandas as pd
from pangres import upsert, DocsExampleTable
from sqlalchemy import create_engine, text, VARCHAR

In [2]:
table_name = 'metric_test'
connection_string = "sqlite:///:litmus:"

engine = create_engine(connection_string)

In [9]:
def display_table():
    with engine.connect() as connection:
        query = text(f'SELECT * FROM {table_name}')
        display(pd.read_sql(query, con=connection, index_col='full_name')
                .astype({'likes_sport':bool}))

In [10]:
df = DocsExampleTable.df
df

               likes_sport                   updated  size_in_meters
full_name
John Rambo            True 2020-02-01 00:00:00+00:00            1.77
The Rock              True 2020-04-01 00:00:00+00:00            1.96
John Travolta        False                       NaT             NaN

In [11]:
upsert(con=engine, df=df, table_name='metric_test', if_row_exists='update',
       chunksize=1000, create_table=True)  # default
display_table()

               likes_sport                     updated  size_in_meters
full_name
John Rambo            True  2020-02-01 00:00:00.000000            1.77
The Rock              True  2020-04-01 00:00:00.000000            1.96
John Travolta        False                        None             NaN