In [62]:
import sqlite3 as db
import pandas as pd

In [63]:
conn = db.connect('litmus.db')

In [64]:
cn = conn.cursor()

In [65]:
cn.execute('CREATE TABLE features_5m (datetime INT, token TEXT, feature TEXT, value REAL, PRIMARY KEY (datetime, token, feature))')

In [66]:
cn.execute('SELECT * FROM sqlite_master')
print(cn.fetchall())

[('table', 'features_5m', 'features_5m', 2, 'CREATE TABLE features_5m (datetime INT, token TEXT, feature TEXT, value REAL, PRIMARY KEY (datetime, token, feature))'), ('index', 'sqlite_autoindex_features_5m_1', 'features_5m', 3, None)]

In [67]:
df = pd.read_sql_query('select * from features_5m', conn)

In [58]:
df.loc[0, :] = (23232, 'erer')

In [68]:
df

Empty DataFrame
Columns: [datetime, token, feature, value]
Index: []

In [53]:
df.to_sql('features_5m', conn, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: features_5m.datetime_unix, features_5m.token

In [50]:
pd.read_sql_query('select * from features_5m', conn)

   datetime_unix token
0          23232  erer